*.log
wp-config.php
wp-admin/
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
wp-includes/
.sass-cache/*

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
.*
*.log
*.sql
*.sqlite
*.rb
