.slider_main {
  .slide {
    height: 700px;
    position: relative;
  }
  .container-fluid {
    height: 100%;
  }
  .slide-wrapper {
    position: absolute;
    bottom: 100px;
    right: 0;
    @include md {
      right: 100px;
    }
    h1, h2, a {
      text-align: right;
      padding: 10px;
    }
    h1 {
      color: #fff;
      margin: 0;
      display: inline-block;
      float: right;
      font-size: 24px;
      @include md {
        font-size: 36px;
      }
    }
    h2 {
      background-color: #fff;
      float: right;
      margin-top: 10px;
      font-size: 24px;
      @include md {
        font-size: 36px;
      }
    }
  }
  .findout {
    font-family: $secondaryfont;
    font-weight: $secondaryfont_semi_ital;
    font-style: italic;
    display: block;
    color: #fff;
    clear: right !important;
  }
}

.secondary_slider {
  .slide {
    height: 600px;
    position: relative;
  }
  .container-fluid {
    height: 100%;
  }
  .slide-wrapper {
    position: absolute;
    top: 30%;
    h1, h2 {
      padding: 10px;
      background: $green;
      clear: both;
      float: right;
      text-align: right;
    }
    h1:first-of-type {
      font-size: 22px;
      margin-top: 20px;
      float: right;
    }
    h1 {
      color: #fff;
      margin: 0;
      display: inline-block;
    }
    h2 {
      background-color: #fff;
      margin-top: 10px;
    }
  }
  .findout {
    font-family: $secondaryfont;
    font-weight: $secondaryfont_semi_ital;
    font-style: italic;
    text-align: right;
    display: block;
    color: #fff;
    clear: right !important;
    padding: 10px;
  }
}

.nav-columns {
  margin-top: 15px;
  margin-bottom: 15px;
  .row {
    .col-row {
      min-height: 400px;
    }
  }
  h4 {
    color: $white;
    font-size: 22px;
    margin: 0;
  }
  .grey {
    background: #C1C9C8;
    position: relative;
    text-align: center;
    .vert-align {
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    img {
      opacity: .3;
      width: 70%;
      padding: 20px;
    }
  }

  .column-1 {
    a {
      font-family: $secondaryfont;
      font-weight: $secondaryfont_semi_ital;
      font-style: italic;
      display: block;
      color: rgba(255, 255, 255, .5);
      clear: right !important;
      padding-bottom: 10px;
    }
    .col-row {
      position: relative;
    }
    .col-row:first-of-type {
      margin-bottom: 15px;
    }
    .title_bg {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 60%;
      padding: 20px;
      width: 65%;
      background: rgba(80, 102, 128, .8);
      a {
        font-family: $secondaryfont;
        font-weight: $secondaryfont_semi_ital;
        font-style: italic;
        display: block;
        color: rgba(255, 255, 255, .5);
        clear: right !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff
      }
    }
    .no-title {
      position: absolute;
      bottom: 0;
      left: 10%;
      height: 35%;
      width: 70%;
      a {
        font-family: $secondaryfont;
        font-weight: $secondaryfont_semi_ital;
        font-style: italic;
        display: block;
        clear: right !important;
        padding-bottom: 10px;
        border-top: 1px solid #fff;
        padding-top: 10px;
        width: 100%;
      }
    }
  }

  .column-2 {
    .col-row {
      position: relative;
    }
    .col-row:first-of-type {
      margin-bottom: 15px;
    }
    .title_bg {
      position: absolute;
      bottom: 0;
      right: 10%;
      height: 60%;
      padding: 20px;
      width: 35%;
      background: rgba(80, 102, 128, .8);
      opacity: .8;
      a {
        font-family: $secondaryfont;
        font-weight: $secondaryfont_semi_ital;
        font-style: italic;
        display: block;
        color: rgba(255, 255, 255, .5);
        clear: right !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff
      }
    }
  }

  .column-3 {
    .col-row {
      height: 100%;
      position: relative;
    }
    .title_bg {
      position: absolute;
      bottom: 0;
      right: 10%;
      height: 80%;
      padding: 20px;
      width: 35%;
      // background: rgba(80, 102, 128, .8);
      opacity: .8;
      a {
        font-family: $secondaryfont;
        font-weight: $secondaryfont_semi_ital;
        font-style: italic;
        display: block;
        color: rgba(255, 255, 255, .5);
        clear: right !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        opacity: 1;
      }
    }
  }

  .col-md-3 {
    @include md {
      padding-right: 7.5px;
    }
  }

  .col-md-4 {
    @include md {
      padding-left: 7.5px;
    }
  }

}



.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
.bx-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.slider_main li {
  margin: 0;
  padding: 0;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper {
  /* -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff; */
  background: #fff;
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 30px;
  /* width: 100%; */
  right: 130px;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('images/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #fff;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('../images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('../images/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('../images/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('../images/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
