.page-id-178 {
  .breadcrumbs {
    background-color: #754598 !important;
  }
  .intro-child-page {
    background: #492365 !important;
    .container {
      background-color: transparent !important;
    }
  }
  h1,h2,p {
    color: $white;
  }
  .products {
    background: #492365 !important;
  }
  .products {
    .wrapper {
      border-bottom: 1px solid $white;
    }
  }
}
